html{
    height: 100%;
}
.background{
    background-image: url(bg.png);
    width: 100%;
    height: 100%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mainContainer{
    width: 90%;
    height: 90%;
    background-color: rgba(255,255,255,0.5);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.panel{
    text-align: center;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    border: 1px solid black;
}
td{
    border: 1px dotted black;
}